@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
body{
    font-family: 'Playfair Display', serif;
}
.secondaryFont{
    font-family: 'Lato', sans-serif;
}
.containter{
    max-width: 1200px;
    margin: 0 auto;
}